*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    width: 100%;
    height: auto;
}
header{
    position: relative;
    height: 100px;
    display: flex;
    background-color: #e72dce;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}
.title{
    color: #faeba7;
    width: 40%;
    margin-left: 10px;
}
.input{
    position: relative;
    align-items: center;
    font-size: 40px;
    height: 60px;
    width: 35%;
    right: 200px;
}
.search{
    position: relative;
    font-size: 35%;
    padding: 20px;
    width: 100%;
    border-radius: 2px;
}
.login{
    position: relative;
    width: 13%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login img{
    width: 35px;
    height: 35px;
}
.login h4{
    display: flex;
}
.menuzinho{
    background-color: #55cbcd;
    flex-direction: row;
    display: flex;
    text-align: center;
    padding-left: 40px;
}
.menuzinho a{
    padding-left: 200px;
    color: rgb(77, 76, 76);
    text-decoration: none;
}
.promocao{
    position: relative;
    background-image: url(/homepage/imagens/source.avif);
    width: 100%;
    height: 350px;
    background-color: antiquewhite;
}
.info_de_vendas{
    position: relative;
    background-color: #55cbcd;
    width: 100%;
    height: 100px;
}
.cartao{
    position: relative;
    width: 10%;
    height: 40px;
    top: 30px;
    left: 60px;
}
.info_de_vendas h2{
    position: relative;
    left: 160px;
    bottom: 16.4px;
}
.info_de_vendas h5{
    position: relative;
    left: 160px;
    bottom: 16.6px;
}
.selo{
    position: relative;
    width: 20%;
    height: 40px;
    bottom: 35px;
    left: 200px;
}
.selo h2{
    position: relative;
    left: 255px;
    bottom: 80px;
}
.selo h5{
    position: relative;
    left: 255px;
    bottom: 80px;
}
.caminhao{
    position: relative;
    width: 20%;
    height: 40px;
    bottom: 55px;
    left: 380px;
}
.caminhao h3{
    position: relative;
    left: 440px;
    bottom: 100px;
}
.caminhao h5{
    position: relative;
    left: 440px;
    bottom: 100px;
}
.chat{
    position: relative;
    width: 20%;
    height: 40px;
    bottom: 80px;
    left: 580px;
}
.chat h3{
    position: relative;
    left: 640px;
    bottom: 120px;
}
.chat h5{
    position: relative;
    left: 640px;
    bottom: 120px;
}
.mercadoria{
    background-color: #faeba7;
    position: relative;
    width: 100%;
    height: 450px;
    display: flex;
}
.mercadoria h1{
    position: relative;
    display: flex;
    height: 30px;
    margin: top;
    text-align: center;
    color: #5573cd;
    justify-content: center;
    left: 42%;
    font-size: 40px;
}
.mercadoria div{
    position: relative;
    width: 70%;
    height: 350px;
    margin: 4px;
    border: #e72dce solid 2px;
    flex-direction: row;
    top: 40px;
    margin: 1%;
    right: 75px;
}
.mercadoria img{
    position: relative;
    width: 100%;
    height: 100%;
}
.ultimoslancamentos{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    text-decoration: none;
    text-align: center;
    background-color: #5573cd;
    color: #fffb00;
    font-size: 40px;
    
}
/*.orixas{
    position: relative;
    width: 100%;
    height: 1800px;
    background-color:#5573cd;
   /* background-image: url(/homepage/imagens/ursinhos.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.orixas div{
    position: relative;
    width: 270px;
    height: 500px;
    background-color: #e72dce;
    display: flex;
    flex-direction: row;
    float: left;
    margin-left: 80px;
    right: 15px;
    border: 2px solid #e72dce;
    margin-top: 15px;
    border-radius: 10px;
}
.orixas img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
}
.ogum{
    position: relative;
    padding-top: 350px;
    right: 200px;
    font: 1em sans-serif;
    font-size: 20px;
}*/
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
    background-color: #5573cd;
  }
  
  .wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
  }
  
  .wrapper section .item {
    padding: 0 2px;
    transition: 250ms all;
  }
  
  .wrapper section .item:hover {
    margin: 0 40px;
    transform: scale(1.2);
  }
  
  .wrapper section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
  }
  
  .wrapper section a:nth-of-type(1) {
    top: 0;
    bottom: 0;
    left: 0;
    
  }
  
  .wrapper section a:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;

}
  
@media only screen and (max-width: 600px) {
    a.arrow__btn {
    cursor: pointer;
    display: none;
}
}
.santos{
   width: 350px;
   height: 450px;
}
.item{
   height: 550px;
}


#footer{
    display: flex;
    justify-content: space-around;
    background-color: #55cbcd;
    margin-bottom: 80px;
}
.infoFooter{
    display: flex;
    gap: 200px;
}
 
.infoFooter h2{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
}
 
.infoFooter a{
    font-size: 16px;
    font-weight: 400;
    opacity: .8;
    text-transform: uppercase;
    margin-top: 10px;
    transition: .3s;
}
 
.infoFooter a:hover{
    color: #ff176c;
    opacity: 1;
    font-weight: 700;
    border-bottom: 1px solid #ff176c;
}
 
.infoFooter div div{
    display: flex;
    flex-direction: column;
}
 
footer p{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
    background-color: #5573cd;
}

.sociais{
    display: flex;
    gap: 20px;
    
}
 
.sociais a{
    padding: 4px 7px;
    background-color: #3394b13f;
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    transition: .3s;
} 
.sociais a:hover{
    background: #0033ff8f;
    border: 1px solid #4917ff;
}
 


